/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.classpath
.settings
/bin
.idea
*.iggy
*.log
*.log.*
*.pdf
*.svg
*.license
/*.csv
/*.tsv
*.avatar
*.batch
*.request
*.license
/*.xls
/*.xlsx
/*.txt
/*.csv
/*.tsv
